.search_box_1 {
    color: var(--color08);
    position: absolute;
    background: transparent;
    border-color: var(--color08);
    alignment: center;
    z-index: var(--z_background);
    width: 100%;
    vertical-align: middle;
    margin:0;
    padding: 0;
    display: block;
}

.search_box_1 input[type="submit"]{
    font-weight: 600;
    cursor: default;
    display: inline-block;
    position: relative;
    alignment: left;
    padding: 10px;
    margin: 10px;
    border-radius: 0;
    color: var(--color12);
}
.search_box_1 input[type="button"]{
    font-weight: 600;
    cursor: default;
    display: inline-block;
    position: relative;
    alignment: left;
    padding: 10px;
    margin: 10px;
    border-radius: 0;
    color: var(--color12);
}

.search_box_1 input[type="submit"]:hover {
    color: var(--color08);
    border: solid 1px var(--color06);
    border-radius: 3px;
    background: var(--bgcolor02);
}
.search_box_1 input[type="button"]:hover {
    color: var(--color08);
    border: solid 1px var(--color06);
    border-radius: 3px;
    background: var(--bgcolor02);
}

.search_box_1 input[type="text"] {
    position: 
    display: inline-block;
    width: 30vw;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 1px var(--color11);
}

.search_box_1 input[type="text"]:hover,
.search_box_1 input[type="text"]:focus {
    box-shadow: 0px 1px 10px 1px var(--color11);
}

.search_box_1 label {
    display: block;
}

.search_box_1 .logo {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 50px;
}
