.navbar-brand {
    position: relative;
    z-index: var(--z_navigation_control);
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: var(--z_navigation_control);
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar-default {
    position: relative;
    background: var(--color09);
}