.search_box_1 {
    color: #1F1F21;
    position: absolute;
    background: transparent;
    border-color: #1F1F21;
    alignment: center;
    z-index: var(--z_background);
    width: 100%;
    /*bottom: 40%;*/
    /*left: 0;*/
    vertical-align: middle;
    margin:0;
    padding: 0;
    display: block;
}

.search_box_1 input {
    font-weight: 600;
    cursor: default;
    display: inline-block;
    position: relative;
    alignment: left;
    padding: 10px;
    margin: 10px;
    border-radius: 0;
    color: #a1a1a1;
}

.search_box_1 input:hover {
    color: #1F1F21;
    border: solid 1px #8E8E93;
    border-radius: 3px;
    background: #F8F8FF;
}

.search_box_1 input[type="text"] {
    position: relative;
    display: inline-block;
    width: 30vw;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 1px #2B2B2B;
    
}

.search_box_1 input[type="text"]:hover,
.search_box_1 input[type="text"]:focus {
    box-shadow: 0px 1px 10px 1px #2B2B2B;
}

.search_box_1 label {
    display: block;
}

.search_box_1 .logo {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 50px;
}
