/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2017, 10:16:02 AM
    Author     : NguyenPC
*/

.song_item {
    color: #C7C7CC;
    padding: 15px 0px 0px 0px;
    margin: 0;
    position: relative;
    z-index: var(--z_side_bench_content);
}

.song_item:hover {
    /*background: var(--color01);*/
    color: #F7F7F7;
    /*cursor: pointer;*/
}

.song_item:active {
    background: #C7C7CC;
    color: #1F1F21;
}

.song_item p {
    position: relative;
    padding: 0;
    margin: 0px 0px 0px 15px;
}

.song_item i {
    alignment: right;
    padding: 0px;
    background: transparent;
}

.song_item hr {
    margin: 0px 0px 0px 10px;
}

.song_item[id="playing_song"] hr {
    margin: 0px 0px 5px 0px;
}

.song_item .background {
    opacity: 1;
    vertical-align: bottom;
    position: relative;
    display: table-cell;
    height: 100%;
    background-image: url('res/mar/disk_mp3.png');
}

.song_item p.song_name {
    font-size: large;
    display: inline-block;
}

.song_item p.tag {
    font-size: x-small;
    font-weight: 700;
    border-radius: 3px;
    padding: 0px 3px;
    margin: 0px 5px;
    display: inline-block;
    vertical-align: middle;
}

.song_item p.tag.owned {
    color: #1F1F21;
    background-color: greenyellow;
}

.song_item p.tag.sale_off {
    color: #F7F7F7;
    background-color: #FF3B30;
}

.song_item p.tag.free {
    color: var(--color08);
    background-color: lawngreen;
}

.song_item p.song_musician {
    font-size: small;
}

.song_item .control_item {
    display: none;
    alignment: right;
    right: 5%;
    position: absolute;
    z-index: var(--z_side_bench_control);
}

.song_item:hover .control_item {
    display: block;
}


.song_list {
    width: 100%;
    height: 100%;
    padding: 20px 0px;
}

.song_list hr {
    padding: 0;
    margin: 0px 15px 0px 0px;
}



.song_list.no_padding {
    padding: 0;
}

.control-song-item {
    color: #C7C7CC;
    display: inline-block;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
}

.control-song-item:hover {
    color: #F7F7F7;
    cursor: pointer;
    display: inline-block;
    background-color: #dddddd;
}

.control-song-item:active {
    color: #C7C7CC;
    background: transparent;
    border: transparent;
    display: inline-block;
}

.media_player {
    padding: 10px;
    color: #F7F7F7;
    width: 100%;
    height: 100%;
    margin: 0;
}

.media_player div {
    padding: 0;
    margin: 0;
}

.media_player i{
    font-size: 33pt;
    color: #F7F7F7;
    vertical-align: middle;
    alignment: center;
}

.media_player i:hover {
    color: #C7C7CC;
}

.media_player .song_name {
    font-size: x-large;
    padding: 0;
    margin: 0;
}

.media_player .song_musician {
    font-size: small;
    padding: 0;
    margin: 0;
}