/*@import url(navigation_group_1.css);*/

.navigation_bar_1{
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background: var(--bgcolor02);

    font-family: var(--font01);
    font-size: small;
    font-weight: bold;
    /*text-transform: capitalize;*/
}